<p><%= @event.title %></p>
<p><%= @event.description %></p>
<p>最大参加人数: <%= @event.max_participants %></p>
<p>1グループあたりの参加数: <%= @event.max_group_size %></p>
<p>開催日: <%= @event.open_date %></p>
<p>締切: <%= @event.deadline %></p>

<% if deadline?(@event.deadline) %>
  <%= form_with model: @user, local: true do |form| %>
    <div class="form-group">
      <%= form.label :nickname %>
      <%= form.text_area :nickname, size: '1x1', class: "form-control" %>
    </div>

    <%= hidden_field_tag :event_id, @event.id %>

    <%= form.submit '参加する', class: "btn btn-primary" %>
  <% end %>
<% end %>

<% if @group.present? %>
  <h2>参加者リスト(<%= @group.length %>人)</h2>
  <% @group.each do |group| %>
    <p> <%= "グループ#{group.group_number}:" if group.group_number.present? %> <%= group.user.nickname %></p>
  <% end %>
<% end %>